<div class="page" fxLayout="column" fxLayoutGap="30px">
  <div class="form">
    <form [formGroup]="productForm" flexLayout="column">
      <div class="formLine">
        <mat-form-field appearance="outline" class="wr-50">
          <mat-label> Nome </mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="productForm.get('name')?.errors?.['required']">
            Nome é obrigatório.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="wr-50">
          <mat-label> Preço de Compra </mat-label>
          <input matInput type="number" formControlName="purchasePrice" />
          <mat-error *ngIf="productForm.get('purchasePrice')?.errors?.['required']">
            Preço de Compra é obrigatório.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="wr-50">
          <mat-label> Preço de Venda </mat-label>
          <input matInput type="number" formControlName="sellPrice" />
          <mat-error *ngIf="productForm.get('sellPrice')?.errors?.['required']">
            Preço de Venda é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="formLine">
        <mat-form-field appearance="outline" class="wr-50">
          <mat-label> Fornecedor </mat-label>
          <mat-select formControlName="provider" disableOptionCentering>
            <mat-option *ngFor="let product of productList"
            [value]="product.id"
          >
            {{ product.name }}
          </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('provider')?.errors?.['required']">
            Fornecedor é obrigatório.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="wr-50">
          <mat-label> Quantidade em Estoque </mat-label>
          <input matInput type="number" formControlName="inventory" />
          <mat-error *ngIf="productForm.get('inventory')?.errors?.['required']">
            Quantidade em Estoque é obrigatório.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="wr-50">
          <mat-label> Tarja </mat-label>
          <mat-select formControlName="stripe" disableOptionCentering>
            <mat-option [value]="'Preta'"> Preta </mat-option>
            <mat-option [value]="'Vermelha'"> Vermelha </mat-option>
            <mat-option [value]="'Amarela'"> Amarela </mat-option>
            <mat-option [value]="'Branca'"> Branca </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('stripe')?.errors?.['required']">
            Tarja é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="formLine">
        <mat-form-field appearance="outline" class="wr-15">
          <mat-label> Receita </mat-label>
          <mat-select formControlName="recipe" disableOptionCentering>
            <mat-option [value]="true"> Obrigatório </mat-option>
            <mat-option [value]="false"> Não obrigatório </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('recipe')?.errors?.['required']">
            Receita é obrigatório.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="wr-15">
          <mat-label> Genérico </mat-label>
          <mat-select formControlName="generic" disableOptionCentering>
            <mat-option [value]="true"> Sim </mat-option>
            <mat-option [value]="false"> Não </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('generic')?.errors?.['required']">
            Genérico é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="endBtn">
    <button color="accent" class="add-button" mat-flat-button routerLink="..">Voltar</button>
    <button
          mat-flat-button
          (click)="clear()"
          color="accent"
          class="add-button"
      >
          Limpar
      </button>
    <button color="accent" class="add-button" (click)="isEdit? update() : create()" mat-flat-button>{{ isEdit? "Atualizar" : "Salvar"}}</button>
  </div>
</div>
