<div class="page">
  <h1>Fornecedores</h1>

  <div>
    <mat-form-field appearance="outline" class="filter">
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filtro"
        #input
      />
    </mat-form-field>
  </div>

  <div>
    <table mat-table [dataSource]="dataTable">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="wr-14">
          <span> Nome </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="legalDocument">
        <th mat-header-cell *matHeaderCellDef class="wr-14">
          <span> CNPJ </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.legalDocument | mask : "00.000.000/0000-00" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="wr-20">
          <span> E-mail </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone" class="wr-10">
        <th mat-header-cell *matHeaderCellDef>
          <span> Telefone </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.phone | mask : "(00) 0 0000-0000" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="postalCode" class="wr-10">
        <th mat-header-cell *matHeaderCellDef>
          <span> CEP </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.postalCode | mask : "00000-000" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="state" class="wr-10">
        <th mat-header-cell *matHeaderCellDef>
          <span> Estado </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.state }}
        </td>
      </ng-container>

      <ng-container matColumnDef="city" class="wr-14">
        <th mat-header-cell *matHeaderCellDef>
          <span> Cidade </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.city }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="wr-8 actions-th">
          <span>Ações</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            [matTooltip]="'Deletar'"
            (click)="deleteProvider(element)"
            class="delete"
          >
            <mat-icon class="delete"> delete </mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]=""
            [routerLink]="element.id"
            [matTooltip]="'Editar'"
          >
            <mat-icon> edit </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 5, 15, 20]" showFirstLastButtons>
  </mat-paginator>

  <div class="bottom-bar">
    <button
      mat-flat-button
      routerLink="/providers/new"
      class="add-button"
      color="accent"
    >
      Adicionar fornecedor
    </button>
  </div>
</div>
