<div class="page">
  <div class="right-container">
    <h1>Bem-vindo, {{ username }}!</h1>
    <div class="text">
      <p>Com um atendimento de excelência, a Farma Fácil vem proporcionando cada vez mais confoto e bem-estar a seus clientes.</p>
      <p>Aqui você adquire os melhores medicamentos, comésticos, perfumes e produtos de higiene pessoal de maneira simples e prática.</p>
      <br><br>
      <p>E, assim como nossa farmácia, o portal está aqui para oferecer tudo o que você precisa!</p>
      <p>Aqui você encontrará os recursos necessários para a gerência deste negócio: insira, consulte, atualize e exclua informações referentes a nossos produtos, fornecedores, clientes e usuários.</p>
      <p>Para navegar mais facilmente, consulte o nosso <a href="/home/site-map">mapa do site.</a></p>
      <p>Nossa equipe deseja a você uma <span>ótima experiência</span>!</p>
    </div>
  </div>
  <div class="left-container">
  </div>
</div>
