.page {
  margin: 0 !important;
  display: flex;
  flex-direction: row;

}

h1 {
  color: #1B5E20;
  font-size: 20px;
  font-weight: bold;
}

.right-container {
  box-sizing: border-box;
  padding: 97px 0 0 40px;
  width: 50%;
}

.text p {
  font-size: 16px;
  text-align: justify;
  width: 75%;
}

.text span {
  color: #1B5E20;
  font-weight: bold;
}

.left-container {
  height: 100vh;
  width: 50%;

  background-image: url('../../../../assets/images/home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

}
