.action-th {
  text-align: center;
  width: 10%;
}

th {
  background-color: #c8e6c9 !important;
  color: #1b5e20 !important;
  font-weight: bold !important;
}

h1 {
  color: #1B5E20;
  font-size: 20px;
  font-weight: bold;
}


.table {
  position: relative;
}

.wr-5 {
  width: 5%;
}

.wr-10 {
  width: 10%;
}

.wr-15 {
  width: 15%;
}

.wr-20 {
  width: 20%;
}

.endBtn {
  position: absolute;
  bottom: 0px;
  right: 0px;

  button {
    width: 155px;
    height: 40px;
  }
}

.filter {
  width: 50%;
}
