<div class="page" fxLayout="column" fxLayoutGap="30px">
  <div class="form">
    <form [formGroup]="usersForm" flexLayout="column">
      <div class="formLine" fxLayoutGap="15px">
        <mat-form-field appearance="outline" fxFlex="33">
          <mat-label> Nome </mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33">
          <mat-label> Email </mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field fxFlex="33" appearance="outline">
          <mat-label> Role </mat-label>
          <mat-select formControlName="role">
            <mat-option value="admin"> Administrador </mat-option>
            <mat-option value="user"> Usuário </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="15px" *ngIf="!isEdit">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Senha</mat-label>
          <input
            [type]="hidePassword ? 'password' : 'text'"
            matInput
            formControlName="password"
            name="password"
          />
          <button
            (click)="hidePassword = !hidePassword"
            mat-icon-button
            matSuffix
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <!-- <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">{{
            "authentication.error.passwordIsRequired"
            }}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Confirmar Senha</mat-label>
          <input
            [type]="hidePassword ? 'password' : 'text'"
            matInput
            formControlName="confirmPassword"
            name="password"
          />
          <button
            (click)="hidePassword = !hidePassword"
            mat-icon-button
            matSuffix
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <!-- <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">{{
            "authentication.error.passwordIsRequired"
            }}</mat-error> -->
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="endBtn" fxLayoutGap="15px">
    <button color="accent" class="add-button" mat-flat-button routerLink="..">Voltar</button>
    <button
          mat-flat-button
          (click)="clear()"
          color="accent"
          class="add-button"
      >
          Limpar
      </button>
    <button color="accent" class="add-button" mat-flat-button (click)="!isEdit ? registerUser() : updateUser()">
      {{ (isEdit?'Atualizar':'Salvar') }}
    </button>
  </div>
</div>
